 <table> 
    <thead>
      <tr>
        <th></th>
        <th>property_id</th>
        <th>owner</th>
        <th>property_name</th>
        <th>property_type</th>
        <th>price_per_night</th>
        <th>zipcode</th>
        <th>city</th>
        <th>neighbourhood</th>
        <th>square_feet</th>
        <th>accommodates</th>
        <!--th>no_of_bathrooms</th!-->
        <th>no_of_bedrooms</th>
        <th>amenities</th>
      </tr>
    </thead>
    <tbody>
      {% for i in html_data %}
        <tr>
            <th>property_id</th>
            <th>owner</th>
            <th>property_name</th>
            <th>property_type</th>
            <th>price_per_night</th>
            <th>zipcode</th>
            <th>city</th>
            <th>neighbourhood</th>
            <th>square_feet</th>
            <th>accommodates</th>
            <th>no_of_bathrooms</th>
            <!--th>no_of_bedrooms</th-->
            <th>amenities</th>
        </tr>
      {% endfor %}
    </tbody>
  </table>