{% extends "layout.html" %} {% block content %}
<style>
  table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  th {
    text-align: left;
    background-color: #f2f2f2;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .btn-book {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
  }

  .btn-book:hover {
    background-color: #0062cc;
  }

  h1 {
    font-size: 26px;
  }
</style>
<div class="container">
  <h1>Fill in all fields to use filter function!</h1>
  <form method="POST" action="{{ url_for('views.get_relation') }}">
    {{ form.csrf_token }}
    <div class="form-group">
      <label>{{ form.property_type.label }}</label>
      {{ form.property_type }}
    </div>
    <div class="form-group">
      <label>{{ form.min_price.label }}</label>
      {{ form.min_price }}
    </div>
    <div class="form-group">
      <label>{{ form.max_price.label }}</label>
      {{ form.max_price }}
    </div>
    <div class="form-group">
      <label>Neighbourhood</label>
      {{ form.neighbourhood }}
      <span> Except </span>
      {{ form.except_neighbourhood }}
    </div>
    <div class="form-group">
      <label>{{ form.price_sort_by.label }}</label>
      {{ form.price_sort_by }}
    </div>
    <div class="form-group">
      <label>{{ form.bookings_sort_by.label }}</label>
      {{ form.bookings_sort_by }}
    </div>
    <div class="form-group">{{ form.submit }}</div>
  </form>
  <h1>Click Property ID to book</h1>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Owner</th>
        <th>Name</th>
        <th>Type</th>
        <th>Price Per Night</th>
        <th>Location</th>
        <th>Size</th>
        <th>Accommodates</th>
        <th>Amenities</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for row in table_data['rows'] %}
      <tr>
        <td>
          <a href="/booking?property_id={{ row['property_id'] }}"
            >{{ row['property_id'] }}</a
          >
        </td>
        <td>{{ row['owner'] }}</td>
        <td>{{ row['property_name'] }}</td>
        <td>{{ row['property_type'] }}</td>
        <td>{{ row['price_per_night'] }}</td>
        <td>
          {{ row['city'] }}, {{ row['neighbourhood'] }}, {{ row['zipcode'] }}
        </td>
        <td>{{ row['square_feet'] }}</td>
        <td>{{ row['accomodates'] }}</td>
        <td>{{ row['amenities'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
