{% extends "layout.html" %} {% block content %}
<style>
  table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  th {
    text-align: left;
    background-color: #f2f2f2;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .btn-book {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
  }

  .btn-book:hover {
    background-color: #0062cc;
  }

  h1 {
    font-size: 28px;
  }
</style>
<div class="container">
  <h1>Click Property ID to update</h1>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Owner</th>
        <th>Name</th>
        <th>Type</th>
        <th>Price per Night</th>
        <th>Location</th>
        <th>Size</th>
        <th>Accommodates</th>
        <th>Amenities</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for row in table_data['rows'] %}
      <tr>
        <td>
          <a href="/updatemylistings?property_id={{ row['property_id'] }}"
            >{{ row['property_id'] }}</a
          >
        </td>
        <td>{{ row['owner'] }}</td>
        <td>{{ row['property_name'] }}</td>
        <td>{{ row['property_type'] }}</td>
        <td>{{ row['price_per_night'] }}</td>
        <td>
          {{ row['city'] }}, {{ row['neighbourhood'] }}, {{ row['zipcode'] }}
        </td>
        <td>{{ row['square_feet'] }}</td>
        <td>{{ row['accomodates'] }}</td>
        <td>{{ row['amenities'] }}</td>
        <td>
          <form
            method="post"
            action="{{ url_for('views.delete_entry', id=row['property_id']) }}"
            onsubmit="return confirm('Are you sure you want to delete this listing?');"
          >
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
